KiCad/AmoebaChocNarrow-backups
KiCad/~AmoebaChocNarrow.kicad_pcb.lck
KiCad/fp-info-cache
KiCad Amoeba/AmoebaChocNarrow-backups
KiCad Amoeba/~AmoebaChocNarrow.kicad_pcb.lck
KiCad Amoeba/~AmoebaChocNarrow.kicad_sch.lck
KiCad Amoeba/fp-info-cache
